### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store
.venv
__pycache__
__pycache__/
**/__pycache__


# Ignore resume files with any suffix after "resume"
resume*.tex
resume*.pdf

# Ignore cv_data directories with any suffix after "cv_data"
cv_data*/